@import "./variables.scss";
@import '../fonts/fonts.scss';

* {
  outline: none;

}

p {

  user-select: none;
}

body {
  background-image: url("/files/images/bg.jpg");
  background-size: cover;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: -10;
}

* {
  box-sizing: border-box;
}

.general {
  // * {
  //   filter: blur(5px);
  // }

  background-image: url("/files/images/bg.jpg");
  background-size: cover;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  @media (min-width: $sm) {
    display: grid;
    grid-template-columns: 25vw 75vw;
  }

  z-index: -100000;
}

.slick-slider {
  height: 100vh;
  display: flex;
  align-items: center;

  // padding: 3rem;


  .slick-list {
    height: 100vh !important;
    align-items: center;
    width: 100vw;

    @media (min-width: $sm) {
      width: 75vw;
    }

    // &::before {
    //   content: "Partners";
    //   color: white;
    //   margin: -50vw;
  }

  .slick-track {

    // transform: translateY();
    .slick-slide {
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      // .partners {
      // }

      .slick-item {
        display: flex !important;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

.slick-dots {
  width: 3rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  display: flex !important;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.3rem 0;
    background-color: none;

    * {
      transition: all 0.3s;
    }

    button {
      opacity: 0.5;
      padding: 0;
      font-size: 0rem;
      width: 0.5rem;
      height: 0.5rem;
      color: white;
      border-radius: 50%;
      background-color: white;

      &::before {
        opacity: 0 !important;
      }
    }

    &.slick-active {
      button {
        opacity: 1;
        width: 1.2rem;
        height: 1.2rem;
        font-size: 0.8rem;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        color: white;
        border-radius: 50%;
        background-color: black;

        &::before {
          opacity: 0;
        }
      }
    }
  }
}

.partners {
  .slick-track {
    height: 30rem !important;
  }

  .slick-slide {
    // &:before {
    //   position: absolute;
    //   content: "OUR PARTNERS";
    //   font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    //   color: white;
    //   font-size: 2rem;
    //   bottom: 15rem;
    //   left: 50vw;

    //   @media (min-width: $sm) {
    //     left: 38.5vw;
    //   }

    //   transform: translateX(-50%);
    // }

    display: grid !important;
    grid-gap: 2vw !important;
    grid-template-columns: auto auto;

    @media (min-width: $sm) {
      grid-template-columns: auto auto auto;
    }

    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 50vh;
    transform: translateY(-50%);
    height: 15rem !important;

    &>div {
      @media (min-width: 400px) {
        width: 13rem;
      }
    }

    &>div>div {
      justify-content: center;
    }
  }
}

.features {
  .slick-track {
    height: 30rem !important;
  }

  .slick-slide {
    // &:before {
    //   position: absolute;
    //   content: "OUR PARTNERS";
    //   font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    //   color: white;
    //   font-size: 2rem;
    //   bottom: 15rem;
    //   left: 50vw;

    //   @media (min-width: $sm) {
    //     left: 38.5vw;
    //   }

    //   transform: translateX(-50%);
    // }

    display: grid !important;
    grid-gap: 6vw !important;
    grid-template-columns: auto auto;

    @media (min-width: $sm) {
      grid-template-columns: auto auto auto;
    }

    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 50vh;
    transform: translateY(-50%);
    height: 15rem !important;

    &>div {
      @media (min-width: 400px) {
        max-width: 15rem;
      }
    }

    &>div>div {
      justify-content: center;
    }
  }
}

.team {
  // .slick-track {}

  .slick-slide {
    // &:before {
    //   position: absolute;
    //   content: "MEET OUR TEAM";
    //   font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    //   color: white;
    //   font-size: 2rem;
    //   bottom: 15rem;
    //   left: 50vw;

    //   @media (min-width: $sm) {
    //     left: 38.5vw;
    //   }

    //   transform: translateX(-50%);
    // }

    display: grid !important;
    grid-gap: 4vw !important;
    grid-template-columns: auto auto;

    @media (min-width: $sm) {
      grid-template-columns: auto auto auto;
    }

    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 50vh;
    transform: translateY(-50%);
    height: 15rem !important;

    &>div {
      @media (min-width: 400px) {
        width: 13rem;
      }
    }

    &>div>div {
      justify-content: center;
    }
  }
}