@import "../../modules/styles/variables.scss";

.menuComMob {
  filter: blur(0px);



  &__image {
    height: 2rem;
    top: 2rem;
    transform: translateX(50%);
    right: 50vw;
    position: fixed;
    display: flex;
    user-select: none;

    &--logo {
      @media (min-width: 500px) {
        display: none !important;
      }
    }
  }

  z-index: 1000;
  display: block;

  @media (min-width: $sm) {
    display: none !important;
  }

  &--show {
    &-true {
      display: flex;
    }

    &-false {
      z-index: 1000;
      // display: none;
    }
  }

  &--menu {
    top: 2.25rem;
    height: 1.5rem;
    right: 2.4rem;
  }
}

.menuCom {

  // filter: blur(5px);
  // opacity: 0.7;
  display: none;
  flex-direction: column;
  justify-content: space-between !important;
  align-items: center;
  height: 92vh;
  margin: 4vh 0;
  width: 100%;
  position: relative;

  @media (max-width: $sm) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    margin: 0;
    height: 100vh;
    background-image: url("/files/images/bg.jpg");
    background-size: cover;
    background-color: white;
    z-index: 100 !important;
    justify-content: center !important;

    .bottom__paragraph {
      position: fixed;
      bottom: 5vh;
    }
  }

  &__social {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    // width: 8vw;
    // background-color: white;
    height: 3vw;
    width: 10vw;
    right: 0;
    // border: 1px solid white;
    transform: translateX(130%);

    i {
      color: white;
      margin: 0 1vw;
      font-size: 1.3vw;
    }

    i:hover {
      transition: all 0.1s;
      font-size: 1.5vw;
      text-shadow: 0rem 0rem 0.2rem white;
    }
  }

  .right-border {
    position: absolute;
    right: 0;
    top: 3;
    width: 1px;
    background-color: rgba(255, 255, 255, 0.2);
    height: 90vh;
  }

  // border-right: 2px solid rgba(255, 255, 255, 0.1);
  // z-index: 3000 !important;



  &--true {
    display: flex;
    justify-content: space-evenly;

    @media (min-width: 500px) and (max-width: 900px) {

      .bottom__paragraph {
        position: fixed;
        bottom: 1rem;
      }

      .menuCom__options {
        margin-top: 40vh;
        transform: translateY(-50%);

        p {
          user-select: none;
          margin: 1rem;
        }
      }
    }
  }

  * {
    z-index: 1000;
  }

  @media (min-width: $sm) {
    display: flex;
  }

  &__logo-image {
    width: 2.5rem;
    display: none;
    user-select: none;

    @media (min-width: $sm) {
      display: block;
    }
  }

  a {
    text-decoration: none;
  }

  p {
    user-select: none;
    cursor: pointer;
    margin: 0;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }

  &__options {
    p {
      transition: all 0.1s;
      margin: 8vh 0;
      text-align: center;
      color: rgba(255, 255, 255, 0.5);

      @media (min-width: $sm) {
        font-size: 1.2vw;
      }

      &.active {
        @media (min-width: $sm) {
          font-size: 1.7vw;
        }

        color: white;
        text-shadow: 0rem 0rem 0.2rem white;
      }

      &:hover {
        transition: all 0.1s;
        color: white;
        text-shadow: 0rem 0rem 0.2rem white;
      }
    }
  }
}