@import "../../../modules/styles/variables.scss";

.Container {
  width: 100%;
  height: 100vh;
  // background-color: cadetblue;
  display: flex;
  justify-content: center;
  align-self: center;
  flex-direction: column;
  overflow: hidden;
}

.Slider {
  width: 100vw;

  @media (min-width: $sm) {
    width: 75vw;
  }

  // background-color: coral;
}

.Item {
  h1 {
    font-family: "Roboto-Medium", "Segoe UI", Tahoma, Geneva, Verdana,
      sans-serif;
    color: white;
    font-size: 2.5rem;

    @media (min-width: 1000px) {
      font-size: 4vw;
    }

    font-weight: 400;
    margin: 0;
    text-align: center;
  }

  p {
    max-width: 80vw;
    @media (min-width: $sm) {
      max-width: 75vw;
    }
    text-align: center;
    font-family: "Roboto-Light", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.6);
  }
}
