@import '../../../../../modules/styles/variables.scss';

$imageSize: 10rem;
$mainColor: rgba(255, 255, 255, 0.5);
$imageBorderRadius: $imageSize/2;

.person {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  // margin: 0 1rem;
  * {
    margin: 0;
    padding: 0;
  }

  &__image {
    width: 7rem;
    height: 7rem;

    @media (min-width: $sm) {
      width: $imageSize;
      height: $imageSize;

    }

    border-radius: $imageBorderRadius;
    margin: 1rem 0;
  }

  &__firstName {
    display: grid;
    width: 100%;
    grid-template-columns: auto auto auto;

    &__centerLine {
      height: 2px;
      background-color: $mainColor;
      margin-top: 0.8rem;
    }

    &__text {
      text-align: center;
      color: white;
      font-size: 0.8rem;

      @media (min-width: $sm) {
        font-size: 1.2rem;
      }

      font-weight: 400;
      font-family: 'Segoe UI',
      Tahoma,
      Geneva,
      Verdana,
      sans-serif;
    }
  }

  &__status {
    text-align: center;
    color: white;
    margin: 1rem 0;
    font-size: 0.7rem;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    @media (min-width: $sm) {

      font-size: 1rem;
    }
  }

  &__icons {
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-evenly;

    a {
      font-size: 1.2rem;
      color: white;
      text-decoration: none;
    }
  }
}