@import '../modules/styles/variables.scss';



.Body {
  transition: top 0.5s;
  // border: 1px solid whitesmoke;
  width: 100vw;

  @media (min-width: $sm) {
    width: 75vw;
  }

  position: absolute;
  right: 0;
}