@import '../../../modules/styles/variables.scss';

.Container {
  width: 100%;
  height: 100vh;
  text-align: center;
  // background-color: cadetblue;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;

  .Title {
    position: absolute;
    top: calc(((100vh - 240px)/2) - 30px);
    font-size: 1.5rem;

    @media (min-width: $sm) {}

    color: white;
    letter-spacing: 3px;
    font-family: 'Roboto-Medium',
    "Segoe UI",
    Tahoma,
    Geneva,
    Verdana,
    sans-serif;
    margin: 0 auto;
    font-weight: 300;
  }
}

.SliderContainer {
  max-width: 800px;
}

.Slider {
  width: 100vw;

  @media (min-width: $sm) {
    width: 75vw;
  }

  // padding: 3rem;
  // background-color: coral;
}

.Partners {
  display: flex !important;
  // justify-content: center;
  // width: 20rem !important;
  // background-color: blueviolet;
  align-items: center;
  height: 2rem;
  margin: 2rem 0;
  margin-right: 1rem;
  max-width: 13rem !important;

  img {
    width: auto;
    height: 80%;

    @media (min-width: $sm) {

      height: 100%;
    }
  }

  p {
    margin: 0;
    margin-left: 1rem;
    color: white;
    font-family: 'Roboto-light', "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.3rem;

    @media (min-width: $sm) {
      font-size: 2rem;

    }
  }
}