@font-face {
  font-family: Roboto-Black;
  src: url(Roboto-Black.ttf);
}

@font-face {
  font-family: Roboto-BlackI;
  src: url(Roboto-BlackItalic.ttf);
}

@font-face {
  font-family: Roboto-Bold;
  src: url(Roboto-Bold.ttf);
}

@font-face {
  font-family: Roboto-BoldI;
  src: url(Roboto-BoldItalic.ttf);
}

@font-face {
  font-family: Roboto-I;
  src: url(Roboto-Italic.ttf);
}

@font-face {
  font-family: Roboto-Light;
  src: url(Roboto-Light.ttf);
}

@font-face {
  font-family: Roboto-LightI;
  src: url(Roboto-LightItalic.ttf);
}

@font-face {
  font-family: Roboto-Medium;
  src: url(Roboto-Medium.ttf);
}

@font-face {
  font-family: Roboto-MediumI;
  src: url(Roboto-MediumItalic.ttf);
}

@font-face {
  font-family: Roboto-Regular;
  src: url(Roboto-Regular.ttf);
}

@font-face {
  font-family: Roboto-Thin;
  src: url(Roboto-Thin.ttf);
}

@font-face {
  font-family: Roboto-ThinI;
  src: url(Roboto-ThinItalic.ttf);
}

@font-face {
  font-family: RobotoCondensed;
  src: url(RobotoCondensed-Regular.ttf);
}