@import "../../../modules/styles/variables.scss";


.Container {
  position: relative;
  width: 100%;
  height: 100vh;
  text-align: center;
  // background-color: cadetblue;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;

  .Title {
    position: absolute;
    top: calc(((100vh - 300px)/2) - 30px);
    font-size: 1.5rem;

    @media (min-width: $sm) {}

    color: white;
    letter-spacing: 3px;
    font-family: 'Roboto-Medium',
    "Segoe UI",
    Tahoma,
    Geneva,
    Verdana,
    sans-serif;
    margin: 0 auto;
    font-weight: 300;
  }
}

.SliderContainer {
  max-width: 800px;
}

.Slider {
  width: 100vw;

  @media (min-width: $sm) {
    width: 75vw;
  }

  // padding: 3rem;
  // background-color: coral;
}

.features {
  display: flex !important;
  // justify-content: center;
  // width: 20rem !important;
  // background-color: blueviolet;
  align-items: flex-start;
  height: 8.5rem;
  // margin: 2rem auto;
  max-width: 40vw;
  flex-direction: column;

  @media (min-width: $sm) {
    max-width: 17rem !important;
  }

  img {
    height: 2rem;
    width: auto;
  }

  p {
    text-align: left;
    margin: 0;
    margin-left: 1rem;
    font-size: 2rem;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }

  ////////////////////////////////////////////////////////////////////////////////////////////////////////

  $font-size: 1rem;
  $line-height: 1.3;
  $lines-to-show: 2;

  p {
    text-align: left;
    display: block;
    /* Fallback for non-webkit */
    display: -webkit-box;
    height: $font-size * $line-height * $lines-to-show;
    /* Fallback for non-webkit */
    margin: 0 auto;
    font-size: $font-size;
    line-height: $line-height;
    -webkit-line-clamp: $lines-to-show;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    color: rgba(255, 255, 255, 0.6);
    transition: height 1s;

    &:hover {
      overflow: hidden;
      text-overflow: none;
      height: $font-size * $line-height * 5;
      -webkit-line-clamp: 5;

      transition: height 1s;
    }
  }

  h1 {
    text-align: left;
    color: white;
    margin: 0.5rem 0;
    font-size: 1.3rem;
    font-family: "Roboto-Light", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

    @media (min-width: $sm) {}
  }
}